################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
vanilla/
build/
__pycache__/
*.pyc
review/*.html
